@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #ff00ff, #00ffff);
  min-height: 100vh;
}

.font-vaporwave {
  font-family: 'VT323', monospace;
}

.shadow-neon {
  box-shadow: 0 0 0.5rem #fff,
              inset 0 0 0.5rem #fff,
              0 0 2rem var(--neon-border-color),
              inset 0 0 2rem var(--neon-border-color),
              0 0 4rem var(--neon-border-color),
              inset 0 0 4rem var(--neon-border-color);
}

.bg-glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}