@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
  --neon-text-color: #0ff;
  --neon-border-color: #0ff;
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}

body {
  background-color: #f0f4f8;
  color: #1a202c;
}

body.dark {
  background-color: #1a202c;
  color: #f0f4f8;
}

.font-tech-noir {
  font-family: 'Orbitron', sans-serif;
}

.shadow-neon {
  box-shadow: 0 0 0.5rem #fff,
              inset 0 0 0.5rem #fff,
              0 0 2rem var(--neon-border-color),
              inset 0 0 2rem var(--neon-border-color);
}

.shadow-neon-dark {
  box-shadow: 0 0 0.5rem #4db8ff,
              inset 0 0 0.5rem #4db8ff,
              0 0 2rem #4db8ff,
              inset 0 0 2rem #4db8ff;
}

.bg-glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

body.dark .bg-glassmorphism {
  background: rgba(0, 0, 0, 0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes pollResultsAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.poll-result-bar {
  animation: pollResultsAnimation 1s ease-out;
}